.workspace {
  background-image: url(https://wallpaperaccess.com/full/58695.png);
  background-size: cover;
  background-repeat: initial;
  display: flex;
  height: 100vh;
}

.boardContainer {
  display: flex;
  gap: 16px;
  margin: 64px 32px;
}

.insideBoardContainer {
  display: flex;
  padding: 100px 20px 0 20px;
  height: 100%;
  min-width: 100%;
  gap: 15px;
}

.board {
  display: flex;
  gap: 15px;
}

.addColumnContainer {
  height: fit-content;
  width: 280px;
  min-width: 280px;
  border-radius: 5px;
  overflow: hidden;
}

.addColumnContainer input {
  background-color: #eee;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
  padding: 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  height: 48px;
}

.addColumnContainer div {
  display: flex;
  flex-wrap: wrap;
}

.addColumnButton {
  background-color: #eee;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  opacity: 0.8;
}

.addColumnButton:hover {
  background-color: #d2d2d2;
}

.addColumnButton span {
  font-size: 0.9rem;
}

.boardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.createColumnConfirmButton, 
.createColumnCancelButton {
  background-color: greenyellow;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 12px;
  height: 41px;
  display: flex;
  gap: 6px;
  align-items: center;
  width: 140px;
  justify-content: center;
}

.createColumnCancelButton {
  background-color: rgb(255, 75, 47);
  width: 140px;
}
