.column {
  flex: 0 0 auto;
  width: 280px;
  background-color: #eee;
  border-radius: 5px;
  padding: 12px;
  height: fit-content;
}

.columnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

.columnTitleInput {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 3px;
  border: none;
}

.columnTitle {
  padding-left: 4px;
  cursor: pointer;
  flex-grow: 1;
  font-size: 1rem;
  text-align: start;
}

.columnHeaderButton {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
}

.columnHeaderButton:hover {
  background-color: #d2d2d2;
}

.columnFooter {
  width: 100%;
  margin-top: 8px;
}

.columnFooterAddButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
  border-radius: 5px;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  opacity: 0.8;
}

.columnFooterAddButton:hover {
  background-color: #d2d2d2;
}

.columnFooterAddButton span {
  font-size: 0.9rem;
}

.columnFooterInputContainer {
  position: relative;
}

.columnFooterInputContainer textarea {
  width: 100%;
  resize: none;
  font-family: inherit;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  padding: 8px;
  min-height: 60px;
}

.columnFooterInputContainer span {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 11px;
  font-weight: 700;
  opacity: 0.8;
}

.columnFooterInputButtonsContainer {
  display: flex;
  width: 100%;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.columnFooterInputButtonsContainer button {
  background-color: transparent;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: inherit;
}

.columnFooterInputButtonsContainer button:hover {
  background-color: #d2d2d2;
}
