@font-face {
  font-family: logoFont;
  src: url('../../public/fonts/Dancing_Script/static/DancingScript-Medium.ttf');
}

.formRegister {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
  margin-right: 58px;
  border-right: 1px solid rgb(186, 186, 186);
}

.formLogin {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.nameField {
  display: flex;
  flex-direction: row;
}

.nameField label input,
.formRegister label input,
.formLogin label input {
  padding: 10px;
  border: 2px solid rgb(186, 186, 186);
  border-radius: 5px;
}

.formLogin label,
.formRegister label {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

.loadingRegisterLogin {
  pointer-events: none;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 30px;
}

.mainContainerRegisterLogin {
  background-image: url(https://wallpaperaccess.com/full/58695.png);
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.containerRegisterLogin {
  display: flex;
  background-color: #e9e9e9;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: -1px 14px 20px 11px #00000070;
  flex-direction: column;
}

.logoRegisterLogin {
  font-family: 'logoFont';
  font-size: 40px;
  pointer-events: none;
}

.logoRegisterLogin p {
  pointer-events: none;
  background-color: #1c4b90;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: inset black 1px 1px 16px;
}

.registerLogin {
  display: flex;
  flex-direction: row;
}

.inputName {
  margin-right: 30px;
}

.registerBtn, .loginBtn {
  margin-top: 20px;
  padding: 12px;
  width: 120px;
  cursor: pointer;
  background-color: #1AAE9F;
  border: none;
  color: white;
  border-radius: 5px;
}

.errorMessage {
  display: flex;
  color: red;
  margin-top: 10px;
}

.warnigPlate {
  color: rgb(121, 121, 67);
  margin-right: 7px;
}

.githubLogin {
  display: flex;
  background-color: #333333;
  justify-content: center;
  padding: 12px;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  border: none;
}

.githubLogin p, 
.googleLogin p  {
  margin-left: 10px;
}

.googleLogin {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  padding: 12px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid black;
}
