.mainContainerWorkspace {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.containerCardWorkspace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.workspaceCard {
  padding: 50px;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  margin: 0 25px;
  display: flex;
  background-color: rgb(65, 157, 114);
  width: 200px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.workspaceCard:hover {
  transform: scale(1.1, 1.1);
  transition: ease-in-out 200ms;
}
